# Environment variables
.env
.env.*
*.env

# IDE / Editor settings
.vscode/
.idea/
*.swp
*.swo

# Binaries & build artifacts
bin/
.bin/
*.exe
*.exe;
*.dll
*.so
*.dylib
*.test
*.out

# Compiled test plugin binaries
config_service/test_plugins/test_plugins

# Ignored binaries and benchmark data
/cmd
/main
/test_plugins
*/mijnapp
*.csv
trash/

# Ignored binaries and benchmark data
/cmd
/main
/test_plugins
*/mijnapp
*.csv
trash/
